<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997050778891-lfsoncg1aujd6ttlbiem3pol1jqabjpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997050778891-lfsoncg1aujd6ttlbiem3pol1jqabjpi</string>
	<key>API_KEY</key>
	<string>AIzaSyADKq3HXf03Z699MxCr0jxJ3vPODt2h9sk</string>
	<key>GCM_SENDER_ID</key>
	<string>997050778891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dpboss</string>
	<key>PROJECT_ID</key>
	<string>dpboss-f8a30</string>
	<key>STORAGE_BUCKET</key>
	<string>dpboss-f8a30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997050778891:ios:27c0c5aa9c6eeb4d088e0e</string>
</dict>
</plist>